<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jedi</title>
</head>
<body>

<h1>Edit Jedi</h1>

<form th:action="@{/save-jedi}" th:object="${jedi}" method="post">
    <input type="hidden" name="id" th:field="*{id}"/>

    <input type="text" name="name"  th:field="*{name}"  th:placeholder="Name"/> <br/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    <br/>

    <input type="text" name="lastnName" th:field="*{lastname}" th:placeholder="LastName"/> <br/>
    <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">LastName Error</span>
    <br/>
    <button type="submit">Update Jedi</button>
</form>

<br>

<a th:href="@{/list-jedi}">Jedi</a>

</body>
</html>